.body{
	background: black;
	color: white;
	font-family: Open Sans;
}

.content{
	background: transparent;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 2%;
}

.navbar{
	border-bottom-style:solid; 
	border-bottom-color: #f1f1f1; 
	border-bottom-width: 10px;
}

.GoodWords{
	float: left;
	color: white;
	font-family: Trebuchet MS;
	font-style:bold;
	font-size: 55px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
	float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background: gray;
}

.row {	
	padding-top: 3%;
    display: flex;
}

.column {
    flex: 50%;
}

.resume{
	background:black;
	border-style:solid;
	border-color:white;
	text-align:right;
	border-radius: 9px;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 55px;
	text-decoration: none;
	color: white;
}

.resume:hover{
	border-style:none;
	background:gray;
	color: white;
}