.content{
	cursor: url(../img/cursor.png), auto;
	background-image: url(../img/Fluffy-Clouds-Background2.jpg);
	background-size: 100vw 100vh;
	font-family: Ubuntu, sans-serif;
	font-size: 1vw;
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
@media only screen and (max-width: 850px) {
	.content{
		background-image: url(../img/Fluffy-Clouds-Background-Copy2.jpg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1.5;
	}
}

img{
	border-radius: 10px;
	box-shadow: 0 0 3px 3px #73737347;
	width: 65%;
}

h1{
	font-weight: 500
}

.row {	
    display: flex;
	align-items: center;
	max-width: 60%;
	max-height: 75%;
	min-width: 400px;
	opacity: 1;
	transition: 1.5s opacity;
	background: rgba(255, 255, 255, 0.70) ;
	animation: fadeIn 0.5s linear;
	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	border-radius: 25px;
	padding: 3% 3% 3% 0%;
}

.column {
    flex: 50%;
}

.navbar{
	border-bottom-style:solid; 
	border-bottom-color: black; 
	border-bottom-width: 3px;
	padding-bottom: 1%;
	margin-top: 15%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
	float: right;
    display: block;
    color: black;
	margin-left:3%;
	transition: 0.3s;
    text-align: center;
    padding: 14px 16px;
	border-radius: 9px;
    text-decoration: none;
}

li a:hover {
    background: lightgray;
}

.resume{
	border-bottom-style:solid; 
	border-bottom-color: black; 
	border-bottom-width: 3px;
	text-align:right;
	padding-block:5px;
	text-decoration: none;
	transition: 0.3s;
	color: black;
}

.resume:hover{
	border-bottom-style:none; 
	background:lightgray;
	border-radius:8px;
}