/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
	overflow: hidden;
}


.GoodWords{
	opacity: .7;
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 10px;
    font-family: garamond;
}


.content{
	margin-left: 3%;
	margin-right: 3%;
	background: black;
	/*background: linear-gradient(to bottom, lightgray, #f1f1f1);*/
}

.button{
	float:right;
	bottom:0;
	margin-right:7%; 
	padding-left: 15px;
	font-family: Open Sans;
	background-color: gray;	
	border-style: outset; 
	box-shadow: 1px 4px 20px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
	border-color: gray;
	color:white;
	padding-right: 15px; 
	text-decoration:none;
	
}

.button:hover{
	background-color: black;	
}