		
				
		#menu li{
			display:inline;
			float: right;
			margin-right: 78px;
			margin-top: 5%;
			text-align: center;
			text-shadow: 3;
			font-size: 120%;
			

		}
		
		#menu li a {
			border-radius: 9px;
			text-decoration: none;
			
			color: white;
			padding: 10px 20px;
			border: solid #FFFFFF 3px;
			text-shadow: 0px 0px 300px #000;
		}
		#menu li a:hover {
			color: #C0C0C0;
			border: solid #C0C0C0 3px;
		}
		body {
		
		background: url(https://vignette.wikia.nocookie.net/greekgoddesses/images/b/b6/Cloud_Palace.jpg/revision/latest?cb=20140111012827) no-repeat;
		display: table;
		background-size: cover;
		}
		#h2{
			padding-left:15px;
		}
		
		#header{
			background-color: #000000;
			padding: 6px;
			color: white;
			font-size:180%;
			
		}
		
		
		#poop1 {
		color: white;
		float: right;
		text-align: center;
		margin-right: 2%;
		}
		
		#pic{
		border-radius: 9px;
		border: solid #C0C0C0 6px;
		color: white;
		float:top;
		margin-top: 10px;
		height: auto; 
		width: auto; 
		max-height: 400px;
		}
		#poop2{
		float: left;
		text-align: center;
		vertical-align: middle;
		font-size: 150%;
		margin: 3%;
		line-height: 150%;
		color: white;
		background-color: black;
		border-radius: 9px;
		opacity: .5;
		padding: 2%;
		}
		#poop3 {
		float: left;
		text-align: center;
		vertical-align: middle;
		font-size: 150%;
		margin: 3%;
		line-height: 150%;
		color: white;
		background-color: black;
		border-radius: 9px;
		opacity: .5;
		padding: 2%;
		}
		#poop4 {
		float: right;
		text-align: center;
		vertical-align: middle;
		font-size: 150%;
		margin: 3%;
		line-height: 150%;
		color: white;
		border: solid #FFFFFF 3px;
		border-radius: 9px;
		padding: 2%;
		}
		